		
		@media screen and (orientation:landscape) and (min-width:1024px) {
		
		#nav2{height:210px; width:100%; overflow: auto; padding:0; margin:0; position:fixed; z-index:10; background-inherit;
		background-image:url(Images/HeaderImg2.png); background-repeat:no-repeat; background-size:100% 400px; }
        #topheader{float:middle; margin-left:auto; border-radius:15px; background-color:rgba(255,255,255,.7); margin-right:auto; width:85%;height:200px;}
        html{padding:0;margin:0; width:100%;}
        body{padding:0;margin:0; width:100%;}
		#top{width:85%; margin-left:auto; margin-right: auto; height:600px; padding-top:75px; border-bottom:2px solid white; background-image:url(Images/header4.jpg); background-repeat:no-repeat; background-size:100% 100%;}
		.zoom {
			zoom: -2;
		}
		#SyleanTitle{
		margin-left:auto; font-size:60px; font-family: AR BLANCA; color:black; margin-right:auto; text-align:center;
		}
		#cupcakeSystem{
		color:#57285d; font-family:AR BLANCA; font-size:45px;
		}
		#subSylean{
		margin-left:auto; margin-right:auto; text-align:center;
		}
		#middle{
		width:85%; height:2000px; margin-left: auto; margin-right: auto; border-top:2px solid gray; background-image:url(Images/cheap_diagonal_fabric.png); 
		}
		#SeasonalDestop{
		width:100%; text-align: center; opacity:.8; height:auto; clear:both;
		}
		.popTop{width:100%; border-bottom:2px solid grey; float:left; height:60px; background-color:white;}
		.imageIconsL:hover  {opacity: .5!important; }
		.imageIconsR:hover {opacity: .5!important; }
		.imageIconsM:hover {opacity: .5!important; }
		.titleText {font-size:60px;} 
		
		/* Tablet and Phone hidden for Desktop*/
		#sliderPicker{width:75%; clear:both; height:80px; margin-left:auto; margin-right:auto; background-color:white; display:none;}
		#WeddingSlider{
		float:left: display:block; width:33.3%; font-size:20px; font-family: AR BLANCA; margin:0; height:100%; border:none; background-color:white; color:black;
		}
		#SeasonalSlider{
		float:left: display:block; width:33.3%; font-size:20px; font-family: AR BLANCA; margin:0; height:100%; border:none; background-color:white; color:black;
		}
		#PartySlider{
		float:right: display:block; width:33.3%; font-size:20px; font-family: AR BLANCA; margin:0; height:100%; border:none; background-color:white; color:black;
		}
		#WeddingSlider:hover {background-color:grey;}
		#SeasonalSlider:hover {background-color:grey;}
		#PartySlider:hover {background-color:grey;}
		.submit {margin-left:75px;float:center; width:85px; background:white; color:black; height:35px; padding:2px;}
		#prev {  margin-right: 10px;
			float: left;
			color: white;
			background: none; 
			padding: 15px;
		}
		#next {  margin-right: 10px;
			float: left;
			color: white;
			background: none; 
			padding: 15px;
		}
		#prev1 {  margin-right: 10px;
			float: left;
			color: white;
			background: none; 
			padding: 15px;
		}
		#nex1 {  margin-right: 10px;
			float: left;
			color: white;
			background: none; 
			padding: 15px;
		}
		#prev2 {  margin-right: 10px;
			float: left;
			color: white;
			background: none; 
			padding: 15px;
		}
		#next2 {  margin-right: 10px;
			float: left;
			color: white;
			background: none; 
			padding: 15px;
		}
		
		.service {width:300px} 
		
		/* *********************************************************** */
		.zoom-moz {
			-moz-transform: scale(-2);
			-moz-transform-origin: 0 0;
		}
        #logo{  //margin-left: auto;
                //margin-right: auto;
                //width: 6em; 
				float:left; padding-left:20px; padding-top:20px;
        }
		.title {font-size:80px; color:white; font-family: AR BLANCA; 
		-webkit-text-fill-color: white; /* Will override color (regardless of order) */
		text-shadow:
			-3px -3px 0 #752370,  
			3px -3px 0 #752370,
			-3px 3px 0 #752370,
			3px 3px 0 #752370;
		
		}
		.title2 {font-size:20px; color:white; font-family: AR BLANCA; 
		-webkit-text-fill-color: white; /* Will override color (regardless of order) */
		text-shadow:
			-1px -1px 0 #752370,  
			1px -1px 0 #752370,
			-1px 1px 0 #752370,
			1px 1px 0 #752370;
		
		}
		#leftbar {padding-top:10px; width: 100%;  height:400px; border:1px solid black; clear:both; padding-bottom:10px;}
		#left {float:left; padding-left:15px; margin-top:20px; width:auto;}
		#main {float:middle; margin-left:auto; margin-right:auto; width:100%; height:700px; }
		#main2 {height:400px;}
		#right {float:right; margin-top:20px; width:auto; padding-left:10px;}
		#leftsidebar {width:35%;height:450px; float:left; border-radius:5px; }
		#leftsidebar2 {padding-left:10%;width:40%;height:450px; float:left; border-radius:5px; }
		#sections {width:100%;height:auto; float:left; border-radius:5px; }
		#footer{width:100%;height:200px;background-color:white; margin-bottom:0;padding-bottom:0; border-top:3px solid grey;}
		#right #barLog {width:5px; padding-left:0; padding-right:0; color:black;}
		* {
			box-sizing: border-box;
		}


		.caption {
		padding-top:20px;
		text-align:center;
		font-size:20px;
		bottom:0; 
		left: 0; 
		width: 100%; 
		font-size:150%;
		opacity: 0.7;
		background-color:#0f0f0a;
		color:white;
		margin-top:232px;
		overflow:auto;
		z-index:5;
		filter: alpha(opacity=70);
		text-align:center;
		font-size:15px; 
		height:80px;
		font-family:AR BlANCA;
		}

		/*
		.imageBox{
		width:26%;
		height:400px;
		margin-left:7%;
		}
		*/
		
		#headText {text-shadow:
			-3px -3px 0 #000,  
			1px -3px 0 #000,
			-3px 1px 0 #000,
			1px 1px 0 #000;
			text-align:left;
			padding-left:10%;
		}
		#logoImg.center{
			margin:0 auto;
		}
		
		
		/* Dropdown Button */
		.dropbtn {
			background-color:white;
			color: black;
			padding: 16px;
			font-size: 20px;
			border: none;
			cursor: pointer;
			width:120px;
			font-family: AR BLANCA;
		}

		/* Dropdown button on hover & focus */
		.dropbtn:hover, .dropbtn:focus {
			background-color:#39004d;
			color:white;
		}

		/* The container <div> - needed to position the dropdown content */
		.dropdown {
			position: relative;
			display: inline-block;
		}

		/* Dropdown Content (Hidden by Default) */
		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 120px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		}

		/* Links inside the dropdown */
		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		/* Change color of dropdown links on hover */
		.dropdown-content a:hover {background-color: #f1f1f1}

		/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
		.show {display:block;}

		

/* http://codepen.io/dudleystorey/pen/kFoGw */
		
		@keyframes slidy {
0% { left: 0%; }
35% { left: 0%; }
45% { left: -100%; }
65% { left: -100%; }
85% { left: -200%; }
100% { left: -200%; }
}

figure { 
  margin: 0; background: #101010; height:100%;
}
	div#captioned-gallery { 
  width: 100%; overflow: hidden; margin:0; height:100%;
}
figure.sliderMain { 
  position: relative; width: 500%;
  font-size: 0; animation: 10s slidy infinite; 
}
figure.sliderMain figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.sliderMain img { width: 100%; height: 700px; padding-top:50px;
}

figure.sliderMain figure figcaption { 
  position: absolute; top:50%; text-align:center;
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}

/* http://jsfiddle.net/4rBaS/1/ */

#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
   
   
}

#popUpDiv {
	position:absolute;
	background:url(pop-back.jpg) no-repeat;
	width:400px;
	height:400px;
	border:5px solid #000;
	z-index: 9002;
}

#popUpDiv { a position:relative; top:20px; left:20px}




.window {  
  //font-weight: bold;
  position:fixed;
  left:0;
  right:0;
  margin: auto;
  margin-left:auto;
  margin-top:100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30%;
  height: 350px;
  padding: 0;
  //background-color:white;  
  background-image: url(Images/cheap_diagonal_fabric.png); 
  //background-size:100% 100%;"
  //text-align: center;
  box-sizing: content-box;
  border: 4px solid black;
  z-index:10;
  min-width:500px;
  font-size:14px;
  font-family:Arial;
}

.window img {
	/*height:200px;*/

}

button {
  /*margin-right: 10px;*/
  /*float: left;*/
  /*color: white;*/
  background: none; 
  /*padding: 15px;*/
}

#text {
  text-align: justify;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.stop-scrolling {
    overflow:hidden;
    height: 100%;
    left: 0;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    width: 100%;
}
	
	#SeasonalSec{display:block; !important}
		#WeddingSec{display:block; !important}
		#PartySec{display:block; !important}	
		
		
		.exitBtn {border:none; height:60px; width: 12%; margin-left:5px; margin:0;}
		.imgExit {width:30px; height:30px;}
		.winTitle {width:85%; float:left; padding-top:12px; height:100%;padding-left:10px; font-family:AR BLANCA; font-size:30px; color:#744176;}

	} /* ending of media screen */
		
		
